/* GLOBAL RESET */
* {box-sizing: border-box;}
body {margin: 0;}

/* GLOBAL COLORS */
body{
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,.8)
}
a { color: turquoise}

/* TYPOGRAPHY */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height:1.4;
}
p {max-width: 35em;}
a { text-decoration: none;}

/* LAYOUT */
body{ 
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}


/* SITE STRUCTURE */
.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.site-header h1 {
    margin: 0;
}

/* SITE NAV */
.site-header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a {
    padding: 1em;
    border: 1px solid white;
    display: block;
}

/* SITE MAIN */
.site-main {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* FOR TESTING ONLY */

* body {  
    background: rgba(0,0,0,1);
}
/* .site-header { background-color: rgba(255,0,0,.3);} */
/* .site-main { background-color: rgba(0,255,0,.3);} */
/* body background-color: rgba(255, 255, 255, 0.3);}   */