/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #CONTAINER
        #MEDIA QUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #SITE-BRANDING (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */
/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* BASE START */

/* HTML5 */

header, footer, aside, nav, main, figure, section, article {
    display: block;
}

/* BASE CONTENT */

/* BASE TYPOGRAPHY */

/* BODY */
body {
    background:rgb(235, 235, 235);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%; /*this sets 1em = 16px*/
    color: rgb(53, 53, 53);
    line-height: 1.6;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
}

h1 {
    font-size: 3em; /*Based on 16px, this is 48px*/
    line-height: 1;
}

h2 {
    font-size: 2.25em; /*Based on 16px, this is 36px*/
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /*Based on 16px, this is 24px*/
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em; /*Based on 16px, this is 21px*/
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; /*Based on 16px, this is 18px*/
    line-height: 1.4;
}

h6 {
    font-size: 1em; /*Based on 16px, this is 16px*/
    line-height: 1.5;
}

/* PARAGRAPHS */
p {
    margin: 0 0 0.5em 0;
    /* max-width: 37em; */
}

/* LINKS */
a{
    color: rgba (0, 51, 102, 1);
    text-decoration: none;
}

a:hover {
    color: rgba (0, 0, 51, 1);
    text-decoration: underline;
}

/* BLOCKQUOTES */

/* HELPERS */

/* BASE LAYOUT */

/* CONTAINERS */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* MEDIA QUERIES
    #DEFAULT/#SMALL (Mobile First) 0-767px 
    #MEDIUM min-width: 768px+
    #LARGE min-width: 1000px+
    #EXTRALARGE min-width: 1200px+
*/

 /* Small Screens+ (Tablets) */
 body {
     font-size: 87.5%;
 }
 .container {
    padding: 0 1em;
}

 /* Mid Sized Screens+ (Tablets) */
 @media (min-width: 768px) {
    body {
        font-size: 87.5%;
    }
    .container {
        padding: 0 1em;
    }
 }

 /* Large Sized Screens+ (Laptops) */
 @media (min-width: 1000px){
    body {
        font-size: 100%;
    }
    .container {
        padding: 0 1em;
        max-width: 1000px;
        margin: 0 auto;
    }
 }

 /* Extra Large Sized Screens+ (Desktops) */
 @media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }
    .container {
        padding: 0 1em;
        max-width: 1200px;
        margin: 0 auto;
    }
 }

/* ______________________________________________ */
/* ______________________________________________ */
/* ______________________________________________ */

/* DEMO ONLY */
 /* Small Screens+ (Tablets) */

body.demo::before {
    content: "Small Screen (0 - 767px)";
    display: block;
    background: rgba(143, 0, 0, 0.926);
    color: white;
    text-align: center;
    padding: .2em;
}

/* Mid Sized Screens+ (Tablets) */
@media (min-width: 768px) {
    body.demo::before {
        content: "Mid Screen (768 - 999px)";
        background: rgba(181, 130, 2, 0.974);
    }
}

/* Large Sized Screens+ (Laptops) */
@media (min-width: 1000px) {
    body.demo:before {
        content: "Large Screen (1000 - 1199px)";
        background: rgba(49, 84, 0, 0.947);
    }
}

/* Extra Large Sized Screens+ (Desktops) */
@media (min-width: 1200px) {
    body.demo:before{
    content: "Extra Large Screen (1200px+)";
    background: rgb(0, 65, 101);
    } 
}